page
{
	max-width:none;
	max-height:none;
	margin:auto;
}
	
background
{
	max-width:none;
	max-height:none;
	background-image:url('th7spo06.gif');
	background-repeat:repeat-x;
	background-position:top;
	background-attachment:fixed;	
	margin:auto;
}
	
body
{
	background-image:url('../Slike/th7spo06.gif');
	background-attachment:fixed;
	width:940px;
	height:850px;
	margin:auto;
	font-family: verdana, sans-serif; 
	font-weight:bold;
	color: black;
	/*url(http://www.infoservemedia.com/design/resources/backgrounds/photos/u8n1z51f26.jpg);*/
}

*
{
	list-style:none;
	margin:0px;
	padding:0px;
}

#menu 
{
	width: 200px;
	border-style: solid solid none solid;
	border-color: #0e69be;
	border-size: 1px;
	border-width: 1px;
}
	
#menu li a 
{
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
}	
	
#menu li a:link, #menu li a:visited 
{
	color: #ffffff;
	display: block;
	background: url(../Slike/v5.jpg);
	background-repeat:no-repeat;
	padding: 8px 0 0 10px;
}
	
h1, h2, h3
{
	color:#0099FF;
	margin:10px 10px;
} 

h1 
{
	
	font-size:36px;
	font-weight:normal;
	text-align:center;
	
}

h3
{
	text-decoration:underline;
}

table
{
	border:1px solid black;
	background-color: white;
	vertical-align:center;
	text-align:left;
	margin-top:10px;	
	margin-left: auto;
	margin-right: auto;
}

hr
{
	size:1; 
	color:#000000;
}

td.stran
{
	
	border-right:1px solid black;
}

p
{
	margin:10px 10px;
}



a.hip
{
	background-color:white;	
}

img.naslov
{
	width: 400; 
	height:200;
	margin: 10px 100px;
}

img.logo
{
	width: 200; 
	height: 150;
	margin: 10px 20px;
}

img.majhne
{
width:46px;
height:44px;
background:url(img_navsprites.gif) 0 0;
}

img.vecja
{
width:397px;
height:237px;
background:url(img_navsprites.gif) 0 0;
}

input:focus 
{
	background-color:#99CCFF;
}

input:hover 
{
	background-color:#0099FF;
}

